<ion-header>
  <ion-navbar>
    <ion-title>TASKL</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
        Add Item
        <!--<ion-icon name="home"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks" #slidingItem>
      <ion-item [ngClass]="{taskDone: task.status=='done'}">{{task.title}} | {{task.status}}</ion-item> <!--task = nama array yg akan dibuat & tasks = array yg banyak dan untuk membuat konstruktor nanti-->
      <ion-item-options side="right">
        <button ion-button icon-only color="secondary" (click)="markAsDone(slidingItem, task)">
          <ion-icon name="checkmark-circle"></ion-icon>
          
        </button>
        <button ion-button icon-only color="danger" (click)="removeTask(slidingItem, task)">
          <ion-icon name="trash"></ion-icon>
          
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
